.mainstore {
  min-height: 100vh;
  overflow: scroll;

  @include breakpoint-up(small) {
    overflow: hidden;
  }

  .storegrid {
    height: 91.8vh;

    @include breakpoint-up(small) {
      height: 88.65vh;
      display: grid;
      grid-template-columns: 20vw 80vw;
    }
  }
}
